/vendor
/node_modules
/public/build
/public/hot
/storage/*.key

.env
.env.backup
.env.production

.phpunit.result.cache

Homestead.json
Homestead.yaml

/.fleet

/.idea
/.vscode

npm-debug.log
yarn-error.log

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore